body {
	padding: 2% 25%;
	font: 1em/1.5 sans-serif;
	background-color: black;
	color: white;
}

form {
	margin-top: 30px;
}

/* Attribute Selectors */

span[class="highlight"] {
	color: yellow;  
	text-shadow: 5px 5px 5px orange;
	font-size: 30px;
}

h2[class="second-line"] {
color: orange;
text-shadow: -5px -5px 5px silver;
font-size: 30px;
}

p[class="third-line"] {
	padding: 5px;
	color: yellow;  
	font-size: 30px;
}

p[class="forth-line"]{
	background-color: black;
	color: silver;
	font-size:30px;
}

p[class="fifth-line"]{
	color: silver;
	text-shadow: -5px 5px 5px orange;
	font-size:30px;
}

p[class="sixth-line"] {
	color: yellow;  
	text-shadow: 5px 5px 5px orange;
	font-size: 30px;
}

p[class="seventh-line"] {
	color: orange;
text-shadow: -5px -5px 5px silver;
font-size: 30px;
}

p[class="last-line"] {
	width: 450px;
	height: 40px;
	padding-left: 20px;
	border: 2px solid grey;
	font-size: 30px;
}
