body {
	padding-top: 35px;
	font: 1.1em/1.5 sans-serif;

}
.main {
	margin: auto;
	padding: 10px 20px 20px;
	width: 760px;
	border: 1px solid;
	background-color: black;
	color: #CAD3D8;
}

/* Using Combinators */

.main > a {
	color: white;
}

h2 ~ p {
	color: #E2383F;
	padding: 10px;
	background: white;
}

p + p {
	background-color: #E2383F;
	color: white;
}

p a {
  color: black;
}