div {
	background-color: seashell;
	padding: 40px;
	margin-left: auto;
	margin-right:auto;
	width: 50%;
}

h1 {
	color: rosybrown;
	font-size: 40px;
}

h2 {
	color: RebeccaPurple;
}

p {
	color: white;
	padding: 10px;
	background-color: sandybrown;
}

h2 span {
	color: violet;
}

p span {
	color: navy;
	font-weight: bold;
}