div {
	background-color: seashell;
	padding: 40px;
	margin-left: auto;
	margin-right:auto;
	width: 50%;
	font-size: 30px;
}

h1{
	text-align: center;
}

h2 {
	color: rosybrown;
}

h3 {
	color: rosybrown;
}

p {
	color: sandybrown;
	font-size: 40px;
}

h4{
	color: darkseagreen;
}

h3 span {
	color: black;
}

p span {
	color: brown;
	font-weight: bold;
}